# we set the pypi.org/simple url with `wwww` prefix, as it is otherwise auto replaced to use the PyPi API instead of the simple lookup method
--index-url https://www.pypi.org/simple
ruamel.yaml==0.18.6
